body, ul 
{
  margin: 0;
  padding: 0;
}
body 
{
  margin: 0;
  padding: 0;
  background-image: url("imgs/background-border.jpg");
  background-repeat: no-repeat;
  background-size: cover;           
  background-position: center top;  
  background-color: #fff;           
  font-family: 'Comic Sans MS', 'Poppins', sans-serif;
}
.page 
{
  background-color: #fdfdfd;
  max-width: 1200px;     /* may adjust */
  margin: 0 auto;       
  padding: 20px 40px;    
  box-shadow: 0 0 30px #00000026; 
}


/* Countdown */
#xmasCountdown 
{
  background-image: url("imgs/merry-christmas-countdown.jpg");
  background-size: cover;           
  background-repeat: no-repeat;     
  background-position: center;    
  color: #ffffff;
  text-align: center;
  padding: 40px 10px;
  font-size: 2rem;
  border-bottom: 4px solid #cc0000;
  text-shadow: 1px 1px 2px #00000033;
  letter-spacing: 1px;
  border-radius: 20px; 
}
#xmasCountdown h2 
{
  margin: 0 0 10px;
  font-size: 1.8rem;
}
#xmasCountdown span 
{
  background: #04843C;
  color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 3px;
  display: inline-block;
  min-width: 40px;
  font-weight: bold;
}
 

/* Navigation */
nav 
{
  background: #f9f9f9;
  border-bottom: 2px solid #9C7C84;
  padding: 10px 0;
}
nav ul 
{
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
nav ul li a 
{
  text-decoration: none;
  color: #04843C;
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.3s;
}
nav ul li a:hover 
{
  color: #FA0404;
}


/* Hero section */
.hero 
{
  background: #fff;
  text-align: center;
  padding: 40px 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero img 
{
  width: 180px;
  border-radius: 12px;
}
.hero-content h1 
{
  font-size: 3rem;
  color: #FA0404;
  margin: 0;
}
.hero-content h2 
{
  font-size: 1.8rem;
  color: #04843C;
  margin-top: 10px;
}


/*snowflakes falling*/
.snowflake 
{
  position: fixed;
  top: -10px;
  color: #ffffff;
  font-size: 12px;
  pointer-events: none;
  z-index: 9999;
}


/* postcard section */
.section-banner 
{
  text-align: center;
  font-size: 5rem;
  color: #FA0404;
  padding: 80px 20px 260px;
  background-position: center top;
  margin: 80px auto 30px;
  width: 90%;
  max-width: 900px;
  position: relative;
  background-image: url("imgs/mailroom.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
background-position: center -40px;
  border-bottom: 1px solid #9C7C84;
  border-top: 1px solid #9C7C84;
  border-radius: 12px;
  text-shadow: 
      2px 2px 4px #f9f9f9,
      -2px -2px 4px #f9f9f9,
      0px 0px 6px #f9f9f9;
}
.section-banner h2 
{
  background: #ffffff66;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 8px;
} 
.section-banner::before 
{
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff33;
  border-radius: 12px;
}
.section-banner::after 
{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, #ffffff00, #fff);
}
.letter-intro 
{
  text-align: center;
  font-size: 2.2rem;
  color: #FA0404;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 1px 2px 2px #9C7C84;
  padding-bottom: 40px;
}
.dear-santa 
{
  text-align: left;
  margin-left: 10%;
  margin-top: 10px;       
  margin-bottom: 10px;    
  font-size: 1.8rem;
  color: #04843C;
  text-shadow: 1px 2px 2px #9C7C84;
}
.santa-letter 
{
  padding: 40px 20px;
  text-align: center;
}
.postcard 
{
  border: 3px groove #9C7C84;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
}
.postcard textarea 
{
  width: 60%;
  height: 300px;
  border: 2px solid #04843C;
  padding: 10px;
  resize: none;
  font-size: 1.5rem;
}
.postcard .address 
{
  width: 35%;
  text-align: left;
}
.postcard .address img 
{
  width: 140px;
  margin-bottom: 10px;
}
.santa-form 
{
  margin-top: 20px;
  text-align: center;
}
.santa-form input 
{
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #9C7C84;
}
.send-btn 
{
  margin-top: 1px;
  padding: 12px 25px;
  background: #FA0404;
  color: #f9f9f9;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

/*santa paws letter*/
.paw-title 
{
  display: flex;
  align-items: center;
  gap: 15px; 
  justify-content: center; 
  margin-bottom: 15px;
}
.paws-img 
{
  width: 100px;       
  height: auto;
  border-radius: 10px; 
  object-fit: cover;
}
.paw-letter 
{
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 40px;
}
.paw-postcard 
{
  border: 3px groove #9C7C84;    
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;           
}
.paw-postcard textarea 
{
  width: 60%;
  height: 300px;                  
  border: 2px solid #04843C;
  padding: 10px;
  resize: none;
  font-size: 1.5rem;              
}
.paw-postcard .address 
{
  width: 35%;
  text-align: left;               
}
.paw-postcard .address img 
{
  width: 140px;
  margin-bottom: 10px;
}

/*Santa letter popup message*/
#messagePopup 
{
  display: none;               
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: #FA0404;     
  color: #f9f9f9;
  padding: 25px 25px;
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: 0 0 15px #00000033;
  z-index: 9999;
}



/* Naughty/Nice Section */
.santa-list 
{
  text-align: center;
  padding: 40px 40px;
}
.nice-list 
{
  background: #f9f9f9;
  padding: 25px;
  border: 3px dashed #FA0404;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-top: 40px;
}
.nice-list h2
{
  color: #04843C;
  text-align: center;
}
.ribbon-border 
{
  border: 6px solid #FA0404;        
  border-radius: 20px;              
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 10px #fa04044d;
}
.nice-input 
{
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #04843C;
  font-size: 1.3rem;
}
.nice-btn 
{
  margin-left: 10px;
  padding: 10px 20px;
  background: #04843C;
  color: #f9f9f9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 4px 0 #9C7C84;
}
.nice-btn:hover 
{
  background: #b30000;
}
/* Naughty/Nice Popup */
#nicePopup 
{
  display: none;
  position: absolute;
  background: #fff;
  border: 3px solid #FA0404;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 0 15px #00000033;
  z-index: 9999;
}
#nicePopup img 
{
  width: 120px;
  margin-bottom: 10px;
}



/* Santa Sightings Section */
.spotted 
{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.spotted p 
{
  max-width: 600px;
  margin: 15px auto 30px;
  font-size: 1.2rem;
}
/* header w/Santa img */
.sightings-header 
{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 2px dashed #cc0000; 
  padding-bottom: 15px;
}
/* Santa icon */
.santa-icon 
{
  width: 60px;
  height: auto;
  border-radius: 6px;
}
/*gallery section*/
#santaGallery 
{
  margin: 30px auto;
  width: 80%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f9f9f9;
  border: 5px solid #FA0404;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px #00000026;
}
#santaDisplay 
{
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 12px;
}
/* Arrows */
.arrow 
{
  background: #04843C;
  color: white;
  border: none;
  padding: 15px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left-arrow 
{
  left: -25px;
}
.right-arrow 
{
  right: -25px;
}
.arrow:hover 
{
  background: #FA0404;
}

/*Holiday joke section*/
.joke-section 
{
  text-align: center;
  padding: 40px 20px;
  margin-top: 40px;
}
.joke-title 
{
  font-size: 2.5rem;
  color: #04843C;
  text-shadow: 2px 2px 3px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.elf-icon 
{
  width: 60px;
  height: auto;
}
#jokeBox 
{
  background: #f9f9f9;
  border: 4px dashed #FA0404;
  padding: 25px;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 15px;
}
#jokeQuestion 
{
  font-size: 1.6rem;
  color: #FA0404;
  margin-bottom: 20px;
  font-weight: bold;
}
#jokeAnswer 
{
  font-size: 1.4rem;
  color: #04843C;
  margin-top: 10px;
}
.joke-btn 
{
  padding: 10px 20px;
  background: #04843C;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 15px;
}
.joke-btn:hover 
{
  background: #FA0404;
}
#newJokeBtn 
{
  background: #FA0404;
  display: none; 
}
#newJokeBtn:hover 
{
  background: #04843C;
}


/* Mobile nav */
.hamburger 
{
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #b30000;
  text-align: right;
  margin-right: 20px;
}
@media (max-width: 768px) 
{
  nav ul 
  {
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
  }
  nav ul.show 
  {
    display: flex;
  }
  .hamburger 
  {
    display: block;
  }
.postcard,
  .paw-postcard 
  {
    width: 95%;       
    padding: 15px;
  }
  .postcard .address img,
  .paw-postcard .address img 
  {
    width: 100px;      
    height: auto;
  }
  .address 
  {
    width: 80px;
  }
  #sendPaws 
  {
    margin-bottom: 50px ; 
  }
  .nice-list 
  {
    margin-top: 20px;
  }
  .joke-btn 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


}

